.image{
  width: auto;
  height: auto;
  max-width: 200px; 
  max-height: 200px;
  padding: 10px;
}
h3 {
  text-align: center;
}

p{
  text-align: center;
}
body{
  background-color: #adad85;
}

#bordered {
 border: solid 10px black;
}